.footer-section{
/*	display: flex;
	justify-content: center;
	align-items: center;*/
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10rem;
	color: white;
	text-align: center;
	background-color: #111111;
	background-image: linear-gradient(180deg, #111111 25%, #000000 100%);

}

.footer-section i{
	margin: 10px 10px 10px 10px;
	padding-top: 30px;
	font-size: 3rem;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.footer-section i:hover{
	color: #aa171e;
	transform: scale(1.2);
}